services:
  ryu-controller:
    build: ./ryu-controller
    container_name: ryu-controller
    networks:
      - sdn-net
    ports:
      - "6633:6633"   # OpenFlow
      - "8080:8080"
      - "5556:5556"   # ZMQ PUB
      - "5557:5557"   # ZMQ REP
    volumes:
      - ./shared:/shared
    environment:
      - ZMQ_PUB_PORT=5556
      - ZMQ_REP_PORT=5557

  qlearning-agent:
    build: ./qlearning-agent
    container_name: qlearning-agent
    networks:
      - sdn-net
    depends_on:
      - ryu-controller
    volumes:
      - ./shared:/shared
    environment:
      - ZMQ_PUB_ADDR=tcp://ryu-controller:5556
      - ZMQ_REQ_ADDR=tcp://ryu-controller:5557
    

  mininet-topology:
    build:
      context: ./mininet-topology
      dockerfile: Dockerfile
    container_name: mininet-topology
    privileged: true
    tty: true   
    environment:
      - MODE=case2
      - CONTROLLER_IP= ryu-controller
    networks:
      - sdn-net
    cap_add:
        - NET_ADMIN
        - SYS_ADMIN
        - NET_RAW
    depends_on:
      - ryu-controller
      - qlearning-agent
    volumes:
      - ./shared:/shared
      - mininet-ovsdb:/var/lib/openvswitch
      - /lib/modules:/lib/modules
      - ./topology:/topology


  traffic-generator:
    build: ./traffic-generator
    container_name: traffic-generator
    networks:
      - sdn-net
    depends_on:
      - mininet-topology
    volumes:
      - ./shared:/shared

  analysis:
    build: ./analysis
    container_name: analysis
    volumes:
      - ./analysis:/app
    depends_on:
      - mininet-topology
    


volumes:
  mininet-ovsdb:

networks:
  sdn-net:
    driver: bridge

# version: "3.8"
# services:
#   ryu-controller:
#     build: ./ryu-controller
#     container_name: ryu-controller
#     hostname: ryu-controller
#     networks:
#       - sdn-net
#     ports:
#       - "6633:6633"   # optional for debug
#       - "5556:5556"
#       - "5557:5557"
#     volumes:
#       - ./shared:/shared
#     environment:
#       - ZMQ_PUB_PORT=5556
#       - ZMQ_REP_PORT=5557


#   mininet-topology:
#     build: ./mininet-topology
#     container_name: mininet-topology
#     privileged: true
#     networks:
#       - sdn-net
#     depends_on:
#       - ryu-controller
#     command: ["python3", "/topo/topology.py", "--mode", "case2"]
    

# networks:
#   sdn-net:
#     driver: bridge
