version: "3.8"

services:
  mininet:
    build: ./mininet-topology
    container_name: mininet
    privileged: true
    tty: true
    depends_on:
      - ryu-controller
      - qlearning-agent
    networks:
      - sdn-net
    volumes:
      - ./shared:/shared

  ryu-controller:
    build: ./ryu-controller
    container_name: ryu-controller
    command: ryu-manager ryu_traditional.py
    ports:
      - "6633:6633"
    networks:
      - sdn-net

  qlearning-agent:
    build: ./qlearning-agent
    container_name: qlearning-agent
    networks:
      - sdn-net

networks:
  sdn-net:
    driver: bridge
