services:
  ryu-controller:
    build: ./ryu-controller
    container_name: ryu-controller
    command: ryu-manager ryu_app.py
    ports:
      - "6633:6633"
      - "5556:5556"
      - "5557:5557"
    networks:
      - sdn-net

  qlearning-agent:
    build: ./qlearning-agent
    container_name: qlearning-agent
    depends_on:
      - ryu-controller
    networks:
      - sdn-net

  mininet-topology:
    build: ./mininet-topology
    container_name: mininet-topology
    privileged: true
    depends_on:
      - ryu-controller       # <-- chỉ phụ thuộc 1 chiều
    environment:
      - MODE=case3
    networks:
      - sdn-net
    tty: true
    stdin_open: true
    volumes:
      - ./mininet-topology/traffic-generator:/traffic-generator  # <─ traffic nằm trong container
    command: >
      bash -c "
      service openvswitch-switch start &&
      python3 topology.py
      "

networks:
  sdn-net:
    driver: bridge