version: "3.8"

services:
  mininet:
    build: ./mininet-topology
    container_name: mininet
    privileged: true
    tty: true
    depends_on:
      - ryu-controller
    networks:
      - sdn-net
    volumes:
      - ./shared:/shared

  ryu-controller:
    build: ./ryu-controller
    container_name: ryu-controller
    command: ryu-manager ryu_traditional.py
    ports:
      - "6653:6653"
      - "8080:8080"
    networks:
      - sdn-net


networks:
  sdn-net:
    driver: bridge
