services:

  ryu-controller:
    build: ./ryu-controller
    command: ryu-manager ryu_traditional.py
    ports:
      - "6653:6653"
      - "5556-5557:5556-5557"

  qlearning-agent:
    build: ./qlearning-agent
    depends_on:
      - ryu-controller

  mininet:
    build: ./mininet-topology
    privileged: true
    tty: true
    stdin_open: true
    volumes:
      - ./shared:/shared
    depends_on:
      - ryu-controller
