version: "3.8"

services:
  ryu:
    build:
      context: .
      dockerfile: Dockerfile-ryu
    container_name: ryu
    ports:
      - "6633:6633"
      - "8080:8080"
    networks:
      - sdn-net
    restart: unless-stopped

  mininet:
    image: ubuntu:22.04
    container_name: mininet
    depends_on:
      - ryu
    network_mode: "service:ryu"   # dùng chung network với Ryu
    tty: true
    stdin_open: true
    cap_add:
      - NET_ADMIN
    privileged: true
    command: bash
    restart: unless-stopped

  traffic-gen:
    image: ubuntu:22.04
    container_name: traffic-gen
    depends_on:
      - mininet
    network_mode: "service:mininet"
    tty: true
    stdin_open: true
    privileged: true
    command: bash
    restart: unless-stopped

networks:
  sdn-net:
    driver: bridge
